{% extends 'first/shablon.html'%}

{% block title %}
    <title>Новость</title>
{% endblock title %}


{% block content %}
	<h1>это страница добавления новости</h1>




    <div>
	    <h2>Форма для добавления новостей</h2>
	     <form method="post">
             {% csrf_token %}
            <div class="form-group">
                {{ form.title }}
                           </div>
            <div class="form-group">
                {{ form.short_descr }}
                    </div>
            <div class="form-group">
                {{ form.content }}
            </div>
            <div class="form-group">
                {{ form.pub_date }}

            </div>

            <button type="submit" class="btn btn-primary">Добавить новость</button>
        </form>
        <p>{{error}}</p>
    </div>
{% endblock %}